body {
  font-family: system-ui;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container{
  height: fit-content;
  width: fit-content;
 
}

.twitter-timeline{
  border: 1px black solid;
  box-shadow: 0px 0px 10px black;
  border-radius: 12px;
}
